In [1]:
import pandas as pd

In [2]:
import sqlalchemy
from time import time

In [3]:
df_play = pd.read_csv('data/AirQualityUCI.csv', delimiter=';', engine="python").dropna(how="all", axis=1).dropna(how="all", axis=0)

In [4]:
df_play.shape

(9357, 15)

In [5]:
df_play.dtypes

Date              object
Time              object
CO(GT)            object
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)          object
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                 object
RH                object
AH                object
dtype: object

In [6]:
print(pd.io.sql.get_schema(df_play, name='AirQuality'))

CREATE TABLE "AirQuality" (
"Date" TEXT,
  "Time" TEXT,
  "CO(GT)" TEXT,
  "PT08.S1(CO)" REAL,
  "NMHC(GT)" REAL,
  "C6H6(GT)" TEXT,
  "PT08.S2(NMHC)" REAL,
  "NOx(GT)" REAL,
  "PT08.S3(NOx)" REAL,
  "NO2(GT)" REAL,
  "PT08.S4(NO2)" REAL,
  "PT08.S5(O3)" REAL,
  "T" TEXT,
  "RH" TEXT,
  "AH" TEXT
)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/AirQualityDB')

In [9]:
db = sqlalchemy.create_engine('postgresql://root:root@localhost:5432/AirQualityDB')

In [10]:
df_iter = pd.read_csv('data/AirQualityUCI.csv', delimiter=';', engine="python")

In [11]:
df = df_iter.dropna(how="all", axis=1).dropna(how="all", axis=0)

In [12]:
df.dtypes

Date              object
Time              object
CO(GT)            object
PT08.S1(CO)      float64
NMHC(GT)         float64
C6H6(GT)          object
PT08.S2(NMHC)    float64
NOx(GT)          float64
PT08.S3(NOx)     float64
NO2(GT)          float64
PT08.S4(NO2)     float64
PT08.S5(O3)      float64
T                 object
RH                object
AH                object
dtype: object

In [13]:
df['Date'] = pd.to_datetime(df['Date'], format='%d/%m/%Y')

df['Time'] = df['Time'].str.replace('.', ':')
df['Time'] = pd.to_datetime(df['Time'], format='%H:%M:%S').dt.time

df["CO(GT)"] = df["CO(GT)"].str.replace(',', '.')
df["CO(GT)"] = df["CO(GT)"].astype(float)

df["C6H6(GT)"] = df["C6H6(GT)"].str.replace(',', '.')
df["C6H6(GT)"] = df["C6H6(GT)"].astype(float)

df["T"] = df["T"].str.replace(',', '.')
df["T"] = df["T"].astype(float)

df["RH"] = df["RH"].str.replace(',', '.')
df["RH"] = df["RH"].astype(float)

df["AH"] = df["AH"].str.replace(',', '.')
df["AH"] = df["AH"].astype(float)

In [14]:
df.head(n=0).to_sql(name='AirQuality', con = engine, if_exists='replace')

0

In [15]:
print(pd.io.sql.get_schema(df, name='AirQuality', con=engine))

CREATE TABLE "AirQuality" (
	"Date" TIMESTAMP WITHOUT TIME ZONE,
	"Time" TIME WITHOUT TIME ZONE,
	"CO(GT)" FLOAT(53),
	"PT08.S1(CO)" FLOAT(53),
	"NMHC(GT)" FLOAT(53),
	"C6H6(GT)" FLOAT(53),
	"PT08.S2(NMHC)" FLOAT(53),
	"NOx(GT)" FLOAT(53),
	"PT08.S3(NOx)" FLOAT(53),
	"NO2(GT)" FLOAT(53),
	"PT08.S4(NO2)" FLOAT(53),
	"PT08.S5(O3)" FLOAT(53),
	"T" FLOAT(53),
	"RH" FLOAT(53),
	"AH" FLOAT(53)
)

In [16]:
%time df.to_sql(name='AirQuality', con=engine, if_exists='replace')

CPU times: user 445 ms, sys: 6.3 ms, total: 451 ms
Wall time: 700 ms

357

In [17]:
url="https://archive.ics.uci.edu/static/public/360/air+quality.zip"

In [24]:
import requests
from io import BytesIO
import zipfile

In [25]:
if url.endswith(".zip"):
    response = requests.get(url)
    if response.status_code == 200:
        zip_file = BytesIO(response.content)

        # Open the ZIP file
        with zipfile.ZipFile(zip_file, "r") as z:
            # List all files in the ZIP
            for file_name in z.namelist():
                # Check if the file is a CSV
                if file_name.endswith(".csv"):
                    with z.open(file_name) as csv_file:
                        df = pd.read_csv(csv_file, delimiter=';')
                        print(f"CSV file '{file_name}' read successfully.")

CSV file 'AirQualityUCI.csv' read successfully.

In [26]:
df.head()

,Date,Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH,Unnamed: 15,Unnamed: 16
0,10/03/2004,18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578",NaN,NaN
1,10/03/2004,19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255",NaN,NaN
2,10/03/2004,20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502",NaN,NaN
3,10/03/2004,21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867",NaN,NaN
4,10/03/2004,22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888",NaN,NaN